modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "web"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run build && PORT=8080 node --enable-source-maps artifacts/api-server/dist/index.mjs"
waitForPort = 8080

[[workflows.workflow]]
name = "web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 pnpm --filter @workspace/squawk dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19926
externalPort = 80

[userenv]

[userenv.shared]
SUPABASE_URL = "https://ngsvenudlagubljtcvok.supabase.co"
CLOUDINARY_CLOUD_NAME = "dnvwdktiy"
VITE_SUPABASE_URL = "https://ngsvenudlagubljtcvok.supabase.co"
VITE_CLOUDINARY_CLOUD_NAME = "dnvwdktiy"
CLERK_SECRET_KEY = "sk_test_4yKnY3OXUvKVaAwER7oDPcXAEO4uhsWrFfc7GjSRp2"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_ZHJpdmVuLXBsYXR5cHVzLTg5LmNsZXJrLmFjY291bnRzLmRldiQ"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5nc3ZlbnVkbGFndWJsanRjdm9rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyOTQ3NDAsImV4cCI6MjA5NDg3MDc0MH0.zHjLLngi6RRzBw-lvOnD13o6Zs3zlISS7hYKg3JisSg"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5nc3ZlbnVkbGFndWJsanRjdm9rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTI5NDc0MCwiZXhwIjoyMDk0ODcwNzQwfQ.67NXqBerwXfFUoxvxvLQvr8knNCR8cZoffFpjMzBLbY"
CLOUDINARY_API_KEY = "378187519115639"
CLOUDINARY_API_SECRET = "lKBABpoB794bKvVYJjxLV3vpSTM"
OPENSEA_API_KEY = "3bef7be8ddae401ca55e45aeab0c5610"
CLERK_PUBLISHABLE_KEY = "pk_test_ZHJpdmVuLXBsYXR5cHVzLTg5LmNsZXJrLmFjY291bnRzLmRldiQ"

[nix]
channel = "stable-25_05"
